# Python
*.pkl
*.py[cod]
#database
*.rdb
data
*.db
#yaml
*.yml
*.yaml
# C extensions
*.so
#VIM
*.swp
# Packages
*.egg
*.egg-info
dist
build
eggs
bin
test_results
*.log

#OSX
*.DS_Store

# Sphinx
docs/source/_build/

# NODE
node_modules

dist-dev
.cache
