include AUTHORS.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include brome/webserver/server *
recursive-include brome/webserver/releases *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py Makefile make.bat
