include AUTHORS.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include brome/webserver/templates *
recursive-include brome/webserver/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
