
{% extends "layout.html" %}
{% block content %}
{% if data['screenshot_list']|count %}
    <script type="text/javascript">
        $(function() {
            $('#screenshots').puigalleria({
                autoPlay: false,
                panelWidth: 1200,
                panelHeight: 600
            });
        });
    </script>
{% endif %}
<div>
    <h1>Screenshot in Test Batch id: {{ testbatch_id }}</h1>
</div>
{% if data['screenshot_list']|count %}
    <div id="screenshots">
        <ul>
            {% for screenshot in data['screenshot_list'] %}
                <li>
                    <img width='100%' height='100%' src="{{ url_for('testbatch.test_batch_report_file', filename = screenshot['path']) }}" alt="{{ screenshot['browser_id'] }}" title="{{ screenshot['title'] }}"/>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div>
        <h1 class="text-center"> No screenshot in this test batch</h1>
    </div>
{% endif %}
{% endblock %}
