
{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
    $(function() {
        $('#testresult').puidatatable({
            caption: 'Test Result',
            columns: [
                {field:'testid', headerText: 'id', headerStyle: 'width: 60px;', sortable: false},
                {field:'testname', headerText: 'Test name', headerStyle: 'width: 50%;', sortable: false},
                {field:'browserid', headerText: 'Browser id', sortable: false},
                {field:'result', headerText: 'Result', sortable: false},
                {field:'screenshot', headerText: 'Screenshot', sortable: false},
            ],
            datasource: [
                {% for result in data['result_list'] %}
                    {
                        'testid': '{{ result["testid"] }}',
                        'testname': '{{ result["testname"] }}',
                        'browserid': '{{ result["browserid"] }}',
                        'result': '<div class="text-center"><span class="label label-{% if result['result'] %}success{% else %}danger{% endif %}"> {% if result['result'] %} <i class="fa fa-check"></i> {% else %} <i class="fa fa-exclamation"></i> {% endif %}</span></div>',
                        'screenshot': '<div id="{{ result['testid'] }}">' +
                                            '<a href="#">' +
                                                'View screenshot' +
                                            '</a>' +
                                            '<div class="ui-helper-hidden text-center">' +
                                                '<img height="80%" width="80%" src="{{ url_for('static', filename = result['screenshot_path']) }}" /> ' +
                                            '</div>' +
                                        '</div>'
                    },
                {% endfor %}
            ]
        });

        {% for result in data['result_list'] %}
            $('#{{ result['testid'] }}').puilightbox();
        {% endfor %}

    });
</script>
<div>
    <h1>Test Result for Test Batch id: {{ testbatch_id }}</h1>
</div>
<div id="testresult"></div>
{% endblock %}
