
{% extends "layout.html" %}
{% block content %}
{% if data['screenshot_list']|count %}
    <script type="text/javascript">
        $(function() {
            $('#accordion').puiaccordion({multiple:true});
        });
    </script>
{% endif %}
<div>
    <h1>Quality Screenshot in Test Batch id: {{ testbatch_id }}</h1>
</div>
{% if data['screenshot_list']|count %}
    <div id="accordion">
        {% for screenshot in data['screenshot_list'] %}
            <h3>{{ screenshot.title }}</h3>
            <div>
                <div class='text-center'>
                    <a target='_blank' href='{{ url_for("testbatch.test_batch_report_file", filename = screenshot.screenshot_path) }}'>
                        <img src='{{ url_for("testbatch.test_batch_report_file", filename = screenshot.screenshot_path) }}' style="cursor: pointer; max-width: 1200px; max-height: 1200px;" />
                    </a>
                </div>
                <button>Approve</button>
                <button>Reject</button>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div>
        <h1 class="text-center"> No quality screenshot in this test batch</h1>
    </div>
{% endif %}
{% endblock %}
