{% extends "layout.html" %}
{% block content %}
{% if data['video_capture_list']|count %}
    <script type="text/javascript">
        $(function() {
        //
        });
    </script>
{% endif %}
<div>
<video id="video1" class="video-js vjs-default-skin" width="400" height="400"
    data-setup='{"controls" : true, "autoplay" : false, "preload" : "auto"}'>
    <source src="/static/barsandtone.flv" type="video/x-flv">
</video>
</div>
{% if data['video_capture_list']|count %}
    {% for video_capture in video_capture_list %}
    {% endfor %}
{% else %}
    <div class="text-center">
        <h1>There is no video capture!</h1>
    </div>
{% endif %}
{% endblock %}
